@import "./bootstrap-reboot.min";
@import "./bootstrap.min";
@import "./animations.scss";
@import "./social.scss";
@import "plyr/dist/plyr";
@import "./node_modules/tiny-slider/src/tiny-slider.scss";

@font-face {
    font-family: MicraDi;
    src: url('/font/MicraDi.ttf');
}
  

@font-face {
    font-family: Graphik;
    src: url('/font/Graphik-Extralight.ttf');
}

body {
    font-family: 'Graphik';
    line-height: 1.7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#product-page {
    flex-grow: 1;
}

.navbar {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #f9f8f5;
}

.product-subtitle {
    margin: 0;
    color: #777;
    font-size: 14px;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	padding: 0 !important;
	margin: 0 !important;
}

.navbar-brand {
    font-family: 'MicraDi';
}

#product-gallery,
#product-info {
    margin-bottom: 40px;
}

.image-gallery {
    position: relative;

    > div {
        &:first-child {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;

            @media (max-width: 767px) {
                top: 100%;
            }
        }

        &:last-child {
            margin-left: 120px;
            position: relative;

            @media (max-width: 767px) {
                margin-left: 0;
            }

            .tns-controls {
                z-index: 1;
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;

                button {
                    transform: translateY(-50%);
                    position: absolute;
                    -webkit-appearance: none;
                    border: 0;
                    width: 35px;
                    height: 35px;
                    background-color: #fff;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.15);

                    &:hover {
                        &:before {
                            opacity: 1;
                        }
                    }

                    &:focus {
                        -webkit-tap-highlight-color: transparent;
                        outline: none;
                    }

                    &:before {
                        content: '';
                        display: block;
                        width: 10px;
                        height: 10px;
                        opacity: .4;
                        transition: opacity ease .3s;
                    }

                    &:first-child {
                        left: 15px;
                        
                        &:before {
                            margin-left: 3px;
                            border-top: 2px solid;
                            border-left: 2px solid;
                            transform: rotate(-45deg);
                        }
                    }

                    &:last-child {
                        right: 15px;

                        &:before {
                            margin-left: -3px;
                            border-top: 2px solid;
                            border-right: 2px solid;
                            transform: rotate(45deg);
                        }
                    }
                }
            }

            > .tns-ovh {
                border-radius: 5px;
            }
        }
    }
}

@media (max-width: 767px) {
    .image-gallery {
        position: relative;
        padding-bottom: 5px;
        margin-bottom: 110px;
    }

    .thumbnails {
        z-index: 2;
        height: 110px;
        white-space: nowrap;
    }

    .thumbnail-image {
        display: inline-block;
        margin-bottom: 0;
    }

    .container {
        text-align: center;
    }
}

// #tns2-ow {
    
// }

.primary {
    max-height: auto;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.slider-image,
.thumbnail-image {
    img, video {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
}

.slider-image {
    height: 345px;
}

// .slider-image {
//     .plyr__controls, button.plyr__control {
//         display: none;
//     }
// }

.thumbnail-image {
    cursor: pointer;
    width: 110px;
    height: 110px;
    padding: 5px;
    margin-bottom: 10px;
    
    img {
        border-radius: 5px;
        transition: box-shadow ease .3s;
    }

    &.selected {
        img {
            box-shadow: 0px 0px 0px 5px #fbd430;
        }
    }
}

#product {
    &-page {
        margin-top: 5em;
    }

    &-price {
        font-size: 1.7rem;
        margin-top: 1rem;
        font-weight: 400;
    }

    &-description {
        margin-top: 1rem
    }
}

@media (min-width: 992px) {
    #product-info {
        padding-left: 40px;
    }
}

#mailchimp {

    input {
        min-width: 250px;
    }
}

#color {
    display: flex;
    flex-direction: row;
    align-items: center;

    input {
        border: none;
        border-radius: 50%;
        width: 1.5em;
        height: 1.5em;
        border: 2px solid #fff;
        transition: box-shadow ease .3s;
        -webkit-tap-highlight-color: transparent;

        &:first-child {
            margin-left: 1em;
        }
        
        &:nth-child(2) {
            margin-left: 0.5em;
        }

        &:focus {
            outline: none;
        }

        &.selected {
            box-shadow: 0px 0px 0px 2px rgba(0,0,0,1);
        }
    }
    

    &-black {
        background-color: #000000;
    }
}

#quantity {
    input {
        margin-left: 1em;
        padding: 5px;
        border: 1px solid #cecece;
        border-radius: 5px;
    }
}

#cart {
    background-color: #fbd430;
    line-height: 1.1;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: 500;
}

#product-description {
    margin-bottom: 30px;
}

/* The Modal (background) */

.modal {
    display: none;

    /* Hidden by default */
    position: fixed;

    /* Stay in place */
    z-index: 1;

    /* Sit on top */
    padding-top: 100px;

    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;

    /* Full width */
    height: 100%;

    /* Full height */
    overflow: auto;

    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);

    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
}

  /* Black w/ opacity */

/* Modal Content */

.modal-content-window {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 80px;
    border: 1px solid #888;
    // width: 80%;
    display: inline-block;
    position: relative;
    text-align: center;
    border-radius: 5px;
}

#thank-you {
    display: none;
}

/* The Close Button */

.close-btn {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 5px;
    line-height: 1;

    &:hover,
    &:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
}

footer {
    background-color: #f1efeb;
    padding: 2em 1rem;
    margin-top: 2em;
    text-align: center;
}


.social-buttons {
    li.list-inline-item {
        margin: 0 .5em;
    }
}